In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [18]:
pd.set_option('display.max_rows', None)

In [19]:
df1 = pd.read_csv('fifa21_male3.csv')

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17125 entries, 0 to 17124
Columns: 103 entries, ID to GK
dtypes: float64(10), int64(45), object(48)
memory usage: 13.5+ MB

In [21]:
df1.isna().sum()

ID                      0
Name                    0
Age                     0
OVA                     0
Nationality             0
Club                   23
BOV                     0
BP                      0
Position              413
POT                     0
Team & Contract         0
Height                  0
Weight                  0
foot                    0
Growth                  0
Joined                 58
Loan Date End       16215
Value                   0
Wage                    0
Release Clause          0
Contract                0
Attacking               0
Crossing                0
Finishing               0
Heading Accuracy        0
Short Passing           0
Volleys                58
Skill                   0
Dribbling               0
Curve                  58
FK Accuracy             0
Long Passing            0
Ball Control            0
Movement                0
Acceleration            0
Sprint Speed            0
Agility                58
Reactions               0
Balance                58
Power                   0
Shot Power              0
Jumping                58
Stamina                 0
Strength                0
Long Shots              0
Mentality               0
Aggression              0
Interceptions           7
Positioning             7
Vision                 58
Penalties               0
Composure             423
Defending               0
Marking                 0
Standing Tackle         0
Sliding Tackle         58
Goalkeeping             0
GK Diving               0
GK Handling             0
GK Kicking              0
GK Positioning          0
GK Reflexes             0
Total Stats             0
Base Stats              0
W/F                     0
SM                      0
A/W                    89
D/W                    89
IR                      0
PAC                     0
SHO                     0
PAS                     0
DRI                     0
DEF                     0
PHY                     0
Hits                    0
LS                      0
ST                      0
RS                      0
LW                      0
LF                      0
CF                      0
RF                      0
RW                      0
LAM                     0
CAM                     0
RAM                     0
LM                      0
LCM                     0
CM                      0
RCM                     0
RM                      0
LWB                     0
LDM                     0
CDM                     0
RDM                     0
RWB                     0
LB                      0
LCB                     0
CB                      0
RCB                     0
RB                      0
GK                      0
dtype: int64

In [16]:
df1 = df1[].str.extract('([a-zA-Z]+)([^a-zA-Z]+)', expand=True)

In [17]:
df1

            0    1
0         NaN  NaN
1         NaN  NaN
2         NaN  NaN
3         NaN  NaN
4         NaN  NaN
5         NaN  NaN
6         NaN  NaN
7         NaN  NaN
8         NaN  NaN
9         NaN  NaN
10       Team   &
11        NaN  NaN
12        NaN  NaN
13        NaN  NaN
14        NaN  NaN
15        NaN  NaN
16       Loan
17        NaN  NaN
18        NaN  NaN
19    Release
20        NaN  NaN
21        NaN  NaN
22        NaN  NaN
23        NaN  NaN
24    Heading
25      Short
26        NaN  NaN
27        NaN  NaN
28        NaN  NaN
29        NaN  NaN
30         FK
31       Long
32       Ball
33        NaN  NaN
34        NaN  NaN
35     Sprint
36        NaN  NaN
37        NaN  NaN
38        NaN  NaN
39        NaN  NaN
40       Shot
41        NaN  NaN
42        NaN  NaN
43        NaN  NaN
44       Long
45        NaN  NaN
46        NaN  NaN
47        NaN  NaN
48        NaN  NaN
49        NaN  NaN
50        NaN  NaN
51        NaN  NaN
52        NaN  NaN
53        NaN  NaN
54   Standing
55    Sliding
56        NaN  NaN
57         GK
58         GK
59         GK
60         GK
61         GK
62      Total
63       Base
64          W    /
65        NaN  NaN
66          A    /
67          D    /
68        NaN  NaN
69        NaN  NaN
70        NaN  NaN
71        NaN  NaN
72        NaN  NaN
73        NaN  NaN
74        NaN  NaN
75        NaN  NaN
76        NaN  NaN
77        NaN  NaN
78        NaN  NaN
79        NaN  NaN
80        NaN  NaN
81        NaN  NaN
82        NaN  NaN
83        NaN  NaN
84        NaN  NaN
85        NaN  NaN
86        NaN  NaN
87        NaN  NaN
88        NaN  NaN
89        NaN  NaN
90        NaN  NaN
91        NaN  NaN
92        NaN  NaN
93        NaN  NaN
94        NaN  NaN
95        NaN  NaN
96        NaN  NaN
97        NaN  NaN
98        NaN  NaN
99        NaN  NaN
100       NaN  NaN
101       NaN  NaN
102       NaN  NaN

In [ ]:
df1[['Team', 'Contract']] = df['Team & Contract'].str.split(' ', 1, expand=True)